.note {
    padding: 5px;
}
#chatText {
    width: 600px;
    float: left;
    margin-left: 55px;
}

.chatP {
    margin: 0px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}